@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-size: 16px;
  }

  @media (min-width: 1920px) {
    html {
      font-size: 18px;
    }
  }

  body {
    @apply bg-brand-off-white text-brand-brown font-serif;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-sans font-bold text-brand-blue;
  }
}

@layer components {
  .bg-gradient-white {
    background-image: linear-gradient(to bottom, #ffffff, #f9fafb);
  }
  .bg-gradient-gray-100 {
    background-image: linear-gradient(to bottom, #f3f4f6, #e5e7eb);
  }
  .bg-gradient-off-white {
    background-image: linear-gradient(
      to bottom,
      var(--color-brand-off-white),
      #f0f0f0
    );
  }
  .bg-animated-gradient {
    background: linear-gradient(-45deg, #004c64, #6784a4, #a17b26, #564034);
    background-size: 400% 400%;
    animation: gradient 20s ease infinite;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
}

@layer utilities {
  .perspective-1000 {
    perspective: 1000px;
  }
  .transform-style-preserve-3d {
    transform-style: preserve-3d;
  }
  .backface-hidden {
    backface-visibility: hidden;
  }
  .rotate-y-180 {
    transform: rotateY(180deg);
  }
}
